.contact-main{
    height: 100vh;
    width: 100vw;
    /* border: 1px solid black; */
    display: flex;
    position:absolute;
    top:405%;
}
.contact-sub1{
    height: 100vh;
    width: 36vw;
    /* background-color: mediumvioletred; */
    background-image: url(../assets/contact-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-sub1 h1{
    color:white;
  
}
.contact-sub2{
    height: 60vh;
    width:62.2vw;
    background-color: rgb(189, 229, 249);
    position: absolute;
    top:30%;
    left: 36%;
    -webkit-box-shadow: 12px 33px 34px -15px rgba(0,0,0,0.22);
    -moz-box-shadow: 12px 33px 34px -15px rgba(0,0,0,0.22);
    box-shadow: 12px 33px 34px -15px rgba(0,0,0,0.22);
}
.contact-sub2 h1{
    color: white;
}
.form{
    position: absolute;
    left: 25%;
    top: 15%;
}
.button{
    height: 5vh;
    width: 5vw;
    background-color: #F64c72;
    color:white;
    border: none;
}
.button:hover{
    background-color: white;
    color:#F64c72;
    border:2px solid #F64c72;
}
@media screen and (max-width:900px){
    .contact-sub1{
        display: none;
    }
    .contact-sub2{
        height: 40vh;
        width: 60vw;
        position: absolute;
        top:25%;
        left: 0%;
    }
    .button{
        height: 5vh;
        width: 15vw;
        background-color: #F64c72;
        color:white;
        border: none;
    }
    .button:hover{
        background-color: white;
        color:#F64c72;
        border:2px solid #F64c72;
    }
    .form{
        position: absolute;
        left: 5%;
        top: 15%;
        /* font-size: 40px; */
    }
   
    .contact-sub2{
        height: 80vh;
        width:100vw;
        background-color: rgb(189, 229, 249);
        position: absolute;
        top:10%;
        left: 0%;
        -webkit-box-shadow: 12px 33px 34px -15px rgba(0,0,0,0.22);
        -moz-box-shadow: 12px 33px 34px -15px rgba(0,0,0,0.22);
        box-shadow: 12px 33px 34px -15px rgba(0,0,0,0.22);
    }
    .inp{
        width: 70vw;
        height: 5vh;
    }
   
   
}
/* @media screen and (max-width:550px){
    .contact-sub2{
        height: 80vh;
        width:100%;
        background-color: rgb(189, 229, 249);
        position: absolute;
        top:10%;
        -webkit-box-shadow: 12px 33px 34px -15px rgba(0,0,0,0.22);
        -moz-box-shadow: 12px 33px 34px -15px rgba(0,0,0,0.22);
        box-shadow: 12px 33px 34px -15px rgba(0,0,0,0.22);
    }
} */