.head{
    height: 100vh;
    width: 100vw;
    background-color: rgb(250, 235, 215);
    display: flex;
    position: absolute;
    top: 100%;
}
.div-1 {
    height: 90%;
    width: 90%;
    padding: 20px 40px;
    /* border: 1px solid black; */
    position: relative;
}
.div-2{
    width: 10vw;
    height: 90%;
    /* border: 1px solid brown; */
    position: relative;
}
.img-1 img{
    width: 18vw;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  
}
.img-1 {
    width: 18vw;
    height: 35vh;
    /* border: 3px solid darkblue; */
   position: absolute;
    top: 2%;
    left: 3%;
}

/* .img-1{
    height: 20vh;
    width: 5vw;
    border: 3px solid darkblue;
    background-color: maroon;
    background-image:url(../../Assets/Himg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:5%;
    left: 2%;
} */

.img-2 img{
    width: 18vw;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
   
    
}
.img-2{
    width: 18vw;
    height: 35vh;
    background-color: purple;
    /* background-image: url(../../Assets/Himg1.jpeg); */
  background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    top: 32%;
    left:30%;
}
.img-3 img{
    width: 18vw;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
   
    
}
.img-3{
    height: 35vh;
    width: 18vw;
    /* background-color: maroon; */
    /* background-image:url(../../Assets/H2.jpeg) */
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    position: absolute;
    left: 57%;
    top: 61%;
}
.div-1 h1{
    color:white;
    text-align: center;
    position: absolute;
    top:40%;
    left: 25%;
}
.div-2 h1{
    font-size: 2.2em;
    text-align: center;
    position: absolute;
    top: 75px;
    /* position: absolute; */
    /* left: 50%; */
 } 
 /* .vl-2 {
     border-left: 4px solid green;
     height: 8rem;
     position: absolute;
     top: 60%;
     left: 45%; 
   } */
    .div-2 p{
     position: absolute;
     top: 150px;
     font-size: 1.5em;
     /* font-weight: 10%; */
     text-align:start;
     

     font-family:Arial, Helvetica, sans-serif; 
  }
 
  .bton{
     width: 8vw;
     height: 7vh;
     border: none;
     position: absolute;
     top: 60%;
     left: 0%;
     background-color:#F64c72;
     color: white;
     border-radius: 4px;
     /* text-align: center; */
     /* left: 10%; */
     /* font-size: large; */
     /* border:1px solid orange; */
  }

.bton:hover{
    border: 2px solid #F64c72;
    background-color: white;
    color :#F64c72;
}
    


  /* .div-2 button:hover{ */
     /* color: orange; */
     /* background-color: black; */
     /* border: none; */
  /* } */
@media screen and (max-width:500px) {
   .head{
    flex-direction: column;
   }
   .div-1, .div-2{
    height: 90%;
    width: 100%;
    position: relative;
   }
   .img-1,.img-3{
    height: 20vh;
    width: 30vw;
   }
   .img-1{
    position: absolute;
    top:1%;
    left: 15%;
   }
   .img-3{
    position: absolute;
    top:60%; 
    left: 60%;
   }
   .img-2{
    height: 25vh;
    width: 30vw;
    position: absolute;
    top:30%;
    left: 35%;
   }
   .div-2 h1{
    font-size: 2em;
    text-align: center;
 } 
     .div-2 p{
        font-size: 1em;
        text-align: center;
     }
   .bton{

    width: 20vw;
    height: 7vh;
    border: none;
    position: absolute;
    top: 85%;
    left: 45%;
     /* height: 12%;
     width: 30%;
     position: absolute;
     top:60%;
     left: 40%; */

   }
}
@media screen and (min-width:550px) {
    .div-2{
        height: 90%;
        width: 100%;
        position: relative;
       }
    /* .div-2 button{
        height: 5%;
        width: 35%;
        position: absolute;
        top:80%;
        left: 40%;
      } */
}
